*.sfd-*
obj
release
bin
_output
dirstate
make.log
build.log
*.pyc
/latex/gost2.304/build
/latex/gost2.304/gost2.304.pdf
/latex/gost2.304/gost2.304.zip
.vs
*.spc
*.pvk
*.pfx
packages
.vs
ReleaseNotes.md
