<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>
	<Fragment>

		<DirectoryRef Id="FontsFolder" />

		<ComponentGroup
			Id="GOST2.304_TypeA.otf"
			Directory="FontsFolder"
			Source=".\..\..\fonts\bin\otf"
		>

			<Component
				Id="GOST2.304_81_TypeA_Regular.otf"
				Guid="{57CC64EC-C163-4A53-BD7D-CCCAE922044E}"
				Location="local"
				Shared="yes"
			>
				<File
					Id="GOST2.304_81_TypeA_Regular.otf"
					Name="GOST2.304-81TypeA-Regular.otf"
					ShortName="2304A.otf"
					DefaultVersion="!(var.FontVersion)"
					KeyPath="yes"
					Vital="yes"
					TrueType="yes"
				/>
				<File
					Id="GOST2.304_81_TypeA_Regular.afm"
					Name="GOST2.304-81TypeA-Regular.afm"
					ShortName="2304A.afm"
					Vital="no"
				/>
			</Component>

			<Component
				Id="GOST2.304_81_TypeA_Slanted.otf"
				Guid="{58199236-A7F7-4FEF-AA68-C6A1F65E5C9B}"
				Location="local"
				Shared="yes"
			>
				<File
					Id="GOST2.304_81_TypeA_Slanted.otf"
					Name="GOST2.304-81TypeA-Slanted.otf"
					ShortName="2304Ai.otf"
					DefaultVersion="!(var.FontVersion)"
					KeyPath="yes"
					Vital="yes"
					TrueType="yes"
				/>
				<File
					Id="GOST2.304_81_TypeA_Slanted.afm"
					Name="GOST2.304-81TypeA-Slanted.afm"
					ShortName="2304Ai.afm"
					Vital="no"
				/>
			</Component>

		</ComponentGroup>

	</Fragment>
</Wix>