<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>
	<Fragment>

		<DirectoryRef Id="FontsFolder" />

		<ComponentGroup
			Id="GOST2.304_TypeA.ttf"
			Directory="FontsFolder"
			Source=".\..\..\fonts\bin\ttf"
		>

			<Component
				Id="GOST2.304_81_TypeA_Regular.ttf"
				Guid="{45839D1E-28B1-425A-88C4-31BD9513AC60}"
				Location="local"
				Shared="yes"
			>
				<File
					Id="GOST2.304_81_TypeA_Regular.ttf"
					Name="GOST2.304-81TypeA-Regular.ttf"
					ShortName="2304A.ttf"
					DefaultVersion="!(var.FontVersion)"
					KeyPath="yes"
					Vital="yes"
					TrueType="yes"
				/>
			</Component>

			<Component
				Id="GOST2.304_81_TypeA_Slanted.ttf"
				Guid="{6941DF67-F315-4845-BDD5-9C00B8F32A29}"
				Location="local"
				Shared="yes"
			>
				<File
					Id="GOST2.304_81_TypeA_Slanted.ttf"
					Name="GOST2.304-81TypeA-Slanted.ttf"
					ShortName="2304Ai.ttf"
					DefaultVersion="!(var.FontVersion)"
					KeyPath="yes"
					Vital="yes"
					TrueType="yes"
				/>
			</Component>

		</ComponentGroup>

	</Fragment>
</Wix>