<?xml version="1.0" encoding="UTF-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
>

	<?ifdef env.Version?>
		<?define FontVersion="$(fun.AutoVersion($(env.MajorVersion).$(env.MinorVersion)))"?>
	<?else?>
		<?define FontVersion="$(fun.AutoVersion(0.1))"?>
	<?endif?>
	
	<Module
		Id="GOST2.304_81"
		Version="$(var.FontVersion)"
		Language="!(loc.LCID)"
	>

		<Package
			Id="2115bb91-3ba2-46c0-8508-07a1288903f7"
			Manufacturer="!(loc.Manufacturer)"
			InstallerVersion="450"
			AdminImage="no"
			Comments="!(loc.Comments)"
			Description="!(loc.Description)"
			Keywords="!(loc.Keywords)"
			ShortNames="no"
			SummaryCodepage="!(loc.CodePage)"
		/>

		<WixVariable Id="FontVersion" Value="$(var.FontVersion)"/>

		<ComponentGroupRef Id="GOST2.304_TypeA.ttf"/>

	</Module>
</Wix>
